<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=gbk">
    <title>全部项目</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
</head>
<body>
<div>
    <#list Models as m>
        <dl>
            <dt>${m.pTopic}</dt>
            <dt>${m.pDesc}</dt>
            <dt>${m.pUrl}</dt>
        </dl>
    </#list>
</div>
</body>
</html>