<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置整合mybatis-->
    <!--数据库配置-->
    <context:property-placeholder location="classpath:properties/jdbc.properties"/>

    <!--配置数据库链接池-->
    <!--mysql-->
    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
    <!--&lt;!&ndash;配置链接池属性&ndash;&gt;-->
    <!--<property name="driverClass" value="${driver}"/>-->
    <!--<property name="jdbcUrl" value="${url}"/>-->
    <!--<property name="user" value="${username}"/>-->
    <!--<property name="password" value="${password}"/>-->

    <!--&lt;!&ndash;c3p0链接池私有属性&ndash;&gt;-->
    <!--<property name="maxPoolSize" value="30"/>-->
    <!--<property name="minPoolSize" value="10"/>-->
    <!--<property name="autoCommitOnClose" value="false"/>-->
    <!--<property name="checkoutTimeout" value="1000"/>-->
    <!--&lt;!&ndash;重连次数&ndash;&gt;-->
    <!--<property name="acquireRetryAttempts" value="2"/>-->
    <!--</bean>-->
    <!--sql server-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc_driverClassName}"/>
        <!-- 基本属性 url、user、password -->
        <property name="url" value="${jdbc_url}"/>
        <property name="username" value="${jdbc_username}"/>
        <property name="password" value="${jdbc_password}"/>
    </bean>

    <!--配置sqlsession-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据库链接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--mybatis 全局配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--扫描entity包-->
        <property name="typeAliasesPackage" value="com.autohome.lucene.entity"/>
        <!--扫描sql mapper文件-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!--配置扫描dao,动态实现dao接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入sqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--给出扫描dao接口-->
        <property name="basePackage" value="com.autohome.lucene.dao"/>
    </bean>

</beans>